.col {
    background-color: blue;
}

.card {
    margin-bottom: 25px;
    margin-top: 25px;
    background-color: rgb(145, 206, 255) !important;
    /* color: rgb(17, 1, 121); */
    font-family: milo;

}
/* 
.container {
    background-color: rgb(17, 1, 121);
} */