.jumbotron {
    background-image: url('../assets/DARKcodingbackground.png');
    height: calc(50vh - 15px);
    background-size: cover;
    background-repeat: no-repeat;
    align-content: center;
  }

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #cfe8fc;
    font-size: 7vw !important;
}

.lead{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #cfe8fc;
    font-size: 2.5vw !important;
}

.footer {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2vw;
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #3E83C1;
   color: white;
   text-align: center;
}