body {
  margin: 0;
  background-color: rgb(177, 205, 228) !important;
  font-family: Georgia, 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-family: garamond; */
  
}

code {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

